{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
    </header>

    <section class="login-page">
        <h2>Aby móc edytować swoje dane podaj hasło</h2>
        <form action="{% url 'check_password' %}" method="post">{% csrf_token %}
    
          <div class="form-group">
            <input type="password" name="password" placeholder="Potwierdź hasło" />
          </div>
          <div class="form-group form-group--buttons">            
            <button class="btn" type="submit">Potwierdź</button>
          </div>
        </form>
      </section>

{% endblock content %}